.menu{
    position: absolute;
    top: 20px;
    right: 10%;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.menu a{
    text-decoration: none;
}

.socialButton{
    margin-right: 14px;
    display: flex;
    align-items: center;

}

.menuButton{
    color: #000;
    background-color: #FFF;
    padding: 12px 24px;
    border-radius: 4px;
    margin-right: 14px;
}