.errorContainer{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.errorContainer img{
    width: 300px;
    margin: 14px 0px;
    user-select: none;
    animation: Shake 1.5s;
    
}

@keyframes Shake{
    10%, 90%{
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80%{
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70%{
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60%{
        transform: translate3d(4px, 0, 0);
    }
}

.errorContainer h1{
    color: #FFF;
    margin: 14px 0px;
    user-select: none;
    
}

.errorContainer h1:hover{
    pointer-events: none;
}

.errorContainer a{
    color: #000;
    background-color: #FFF;
    text-decoration: none;
    font-weight: bold;
    padding: 12px 18px;
    border-radius: 4px;
    margin: 14px 0px;
}